:root {
    --main-color: #002966;
    --secondary-color: #80b3ff;
}

.centered {
    /* https://github.com/TexAgg/Minesweeper/blob/master/src/styles/main.css#L38 */
    margin: auto;
    width: 50%;
    text-align: center;
}

.jumbotron {
    margin-bottom: 0;
    padding: 1em 1em;
    text-align: center;
    background-color: #D80990 ;
    /*color: var(--secondary-color);*/
}
.navbar navbar-default{
	background-color: #3f20cb ;
}
body {
    background-color: #7c15c7 ;
    /*color: var(--secondary-color);*/
    font-family: "Gotham Rounded A";
}

footer {
	font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}
