{% extends "layout.html" %}

{% block content %}
	<!---<h1>Enter Email</h1>
	<form method = "post">
		<div class="form-group">
			Email:<input class="form-control" type= "text" name="Email" required></input>
		</div>
		<datalist id = "Hackathon">
		{% for hackathon in Events %}
			<option value = "{{hackathon.getText()}}"></option>
		{% endfor %}
		</datalist>

		<div class="form-group">
			<input type="submit" value="Submit"></input>
		</div>
	</form>	--->
<form method="POST">
		<div class="form-group">
			Email:<input class="form-control" type= "text" name="Email" required></input>
		</div>
		<label for='choose'>Which hackathon are you at?</label>
		<br>
		
		<div class="form-group">
			Hackathon:
			<div class="dropdown">
				
					<input list="Hackathon" name="Hackathon">
					{% block body %}
					<datalist id = "Hackathon">
						{% for hackathon in Events %}
						<option value = "{{hackathon.getText()}}">
						{% endfor %}
					{% endblock %}
			</div>
		</div>
	
		<div class="form-group">
			<input type="submit" value="Submit"></input>
		</div>
		
	</form>
{% endblock %}
